In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
pd.series = pd.Series([1, 2, 3, 4, 5])
print(pd.series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
bike = pd.read_csv("C:\\Users\\woled\\Downloads\\pro\\Insights into Bicycle Theft using Visualization\\workspace\\data\\Cleaned_Bicycle_Thefts_Open_Data.csv")

In [12]:
print(bike.head())
print(bike.info())
print(bike.describe())

         date     quarter  ...       long        lat
0  2014-01-01  2014-01-01  ... -79.377202  43.633880
1  2014-01-03  2014-01-01  ... -79.427683  43.691370
2  2014-01-04  2014-01-01  ... -79.379017  43.659649
3  2014-01-04  2014-01-01  ... -79.366072  43.703797
4  2014-01-07  2014-01-01  ... -79.335651  43.649292

[5 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31833 entries, 0 to 31832
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          31833 non-null  object
 1   quarter       31833 non-null  object
 2   day_of_week   31833 non-null  object
 3   neighborhood  31833 non-null  object
 4   bike_cost     31833 non-null  float64
 5   location      31833 non-null  object
 6   long          31833 non-null  float64
 7   lat           31833 non-null  float64
dtypes: float64(3), object(5)
memory usage: 1.9+ MB
None
           bike_cost          long           lat
count   31833.000000  31833.000000  31833.000000
mean      994.349726    -79.394411     43.672556
std      1625.903293      0.058580      0.039977
min         0.000000    -79.596356     43.592362
25%       385.000000    -79.418409     43.650176
50%       650.000000    -79.385721     43.659649
75%      1120.000000    -79.377202     43.682820
max    120000.000000    -79.150843     43.821201